body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #FDDDCC;
    font-family: sans-serif;
    align-items: center;
}
.form-container {
    display: flex;
    flex-direction: column;
    background-color: burlywood;
    padding: 30px;
    border-radius: 20px;
    align-items: center;
    width: 50%;
    align-self: center;
    margin: 30px;
}
.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px;
    align-self: center;
}
.element {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 1px 2px 1px 1px grey;
    border: none;
}
#color_theme {
    padding:none;
    margin-bottom: 20px;
}
.submit {
    background-color: green;
    padding: 10px;
    width: 60%;
    align-self: center;
    border-radius: 10px;
    font-size: medium;
    box-shadow: 1px 2px 1px grey;
    border: none;
    margin: 10px;
}
.submit:hover{
    background-color: rgb(2, 86, 2);
    cursor:pointer;
}

.message {
    padding:5px;
    margin: 20px;
}

.table_container {
    width: 70%;
    margin: 20px;
}

.upcoming_events {
    border-collapse: separate;
    width: 100%;
    border-spacing: 3px 10px;
    table-layout: fixed;
    box-shadow: 0px 0px 20px 1px grey;
}
  
.upcoming_events td, .upcoming_events th {
    border-collapse: separate;
    width: 100%;
    overflow: hidden;
    padding: 16px;
    border-spacing: 0px;
}
  
.upcoming_events tr:nth-child(even){background-color: #dfdfdf85;}
.upcoming_events tr:nth-child(odd){background-color: #b0b0b0e9;}
  
.upcoming_events th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}
.edit {
    background-color: wheat;
    padding: 5px;
    align-self: center;
    border-radius: 10px;
    font-size: medium;
    box-shadow: 1px 2px 1px grey;
    border: none;
}
.edit:hover{
    background-color: rgb(249, 210, 137);
    cursor: pointer;
}



* {
    margin:0; 
    padding: 0; 
    box-sizing: border-box;
}
a, a:visited {
    color:inherit;
    text-decoration: inherit;
}

body {
    background-color: #FDDDCC;
    font-family: sans-serif;
}

#navbar {
    display:flex;
    align-items: center;
    justify-content: space-between;

    background-color: #E56B6F;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    min-height:150px;
    color: #F8C9B0;
    padding: 20px;

    top:0;
    position:sticky;

}

#navbar h3 {
    font-weight:lighter
}

#navleft {
    font-size: 32px;
    display:flex;
    align-items: center;
    gap: 20px;
}

#navright {
    text-align: right;
    background-color: #293C54;
    border-radius: 100px;

    color: #E56B6F;
    font-size: 24px;
}
#navright a {
    display:block;
    padding:15px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 100px;
}


#container {
    margin:2%;
    color:#355070;
    font-size: 24px;
    text-align: center;
}
#container div  {
    margin:4%;
}

#footer {

    background-color: #E56B6F;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    min-height:150px;
    color: #F8C9B0;
    padding: 20px;



}